body,
input {
  font-family: "Source Code Pro", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

button,
.fake-button {
  border-radius: 5px;
  border: 1px solid #000;
  padding: 8px 16px;
  font-family: inherit;
  background-color: #FFF;
  cursor: pointer;
  font-size: 13.3333px;
}
button:not(:disabled):hover,
.fake-button:hover {
  text-decoration: underline;
}
button:not(:disabled):focus,
button:not(:disabled):focus-visible,
.fake-button:focus,
.fake-button:focus-visible {
  outline: 1px auto -webkit-focus-ring-color;
}
button:disabled {
  cursor: not-allowed;
}

a {
  color: #000;
  display: inline-block;
}
a:hover,
a:active,
a:focus,
a:focus-visible {
  color: red;
}

#app {
  max-width: 800px;
  margin: 0 auto;
  padding: 32px;
}